
.data-img{
    width: 60px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.product-code{
    background-color: #FDD4DA;
    padding: 2px 8px;
    font-size: 13px;
    border-radius: 2px;
    display: block;
    color: red;
}