
.side-bar {
    background-color: #fff!important;
    width: 20%;
}

.css-dip3t8 {
    position: relative;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 3;
    background-color: #fff!important;
}

.logo-box{
    width: 100%;
    
    padding: 30px 0px 30px 20px;
}

.logo-box img{
    width: 70%;
    object-fit: contain;
}



.menu-item{
    font-size: 16px;
    font-weight: 400;
    color: rgb(131, 131, 131);
    width: 100%;
    display: block;
}

.sub-menu span i{
    padding-right: 20px;
    position: relative;
    left: 4px;
}

.sub-menu .menu-item span i{
    left: 0px;
    font-size: 16px;
}

.sub-menu .menu-item{
    padding-left: 0px;
    font-size: 15px;
}

.menu-item span i{
    color: #00B4F9 ;
    position: relative;
    font-size: 19px;
    padding-right: 20px;
}