*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

.container{
  max-width: 98%;
  margin: 0px auto;
}

.container-flex{
  max-width: 98%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0px auto;
}